html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    -webkit-user-select: none;
}
.dib{display: inline-block;}

.fr{float: right}
.fl{float: left;}
.clear{clear: both;}

.m5{margin: 5px;}
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.m25{margin: 25px;}

.p5{padding: 5px;}
.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.p25{padding: 25px;}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}

.layout-button-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.layout-button-right {
    background: url('../images/layout_arrows.png') no-repeat 0 -16px;
}
.content-header{
    border-bottom: 1px solid #99bbe8 !important;
    overflow: hidden;
    color: #444444;
    font-size: 13px;
    text-align: center;
    padding: 8px;
    background-image: -webkit-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -moz-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -ms-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -o-linear-gradient(#dae6f3, #c2d5ed);
    background-image: linear-gradient(#dae6f3, #c2d5ed);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdae6f3', endColorstr='#ffc2d5ed', GradientType=0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.func-area{height: 80px;}
.layer-tree{height: 400px;}
.node-info{height: 200px;font-size: 12px;}
.tip-area{width: 235px;text-align: left;}
.tip-text{min-width: 60px;display: inline-block;}
.input-pos{width: 65px;}
.input-pos-disable{width: 50px;}